<div class="span10">
  <ul id="" class="nav nav-tabs">
    <li><%= link_to "Meus dados", "/u/#{current_user.username}/edit" %></li>
    <li class="active"><%= link_to "Minha senha", "/users/edit" %></li>
    <li><%= link_to "Meu avatar", "/u/#{current_user.username}/avatar" %></li>
  </ul>
</div>
<div id="div-forms-large" class="show-grid">
  <div class="span4">
    <div class="tab-pane" id="my-pass">
      <h2>Minha senha</h2>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>
        <div class="input">
          <%= f.password_field :current_password, placeholder: "Digite a senha atual" %>
        </div>

        <div class="input">
          <%= f.password_field :password, placeholder: "Digite a nova senha" %>
        </div>

        <div class="input">
          <%= f.password_field :password_confirmation, placeholder: "Redigite a nova senha" %>
        </div>

        <div class="actions">
          <%= f.submit :disable_with => "Aguarde...", :value => "Atualizar senha", :class => "btn btn-primary btn-large" %>
        </div>
      <% end %>
    </div>

    <%= link_to 'Ver meus links', links_path, :class => "btn btn-mini" %>
  </div>

  <div class="span4">
    <h3>Observações</h3>
    <p>Aqui você pode alterar sua "Senha" digitando sua "Senha" antiga em seguida sua nova "Senha" e logo após confimando sua nova senha</p>
  </div>
</div>
