<h2>Cadastre-se</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="input">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="input">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="input">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="input">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div><%= f.submit "Cadastrar meus dados", :class => "btn-primary" %></div>
<% end %>

<%= render "links" %>
