<%= render "shared/masthead", 
  :subnav => [
    {:title => "Meus dados", :href => "/u/#{current_user.username}/edit"},
    {:title => "Minha senha", :href => "/users/edit"},
    {:title => "Meu avatar", :href => "/u/#{current_user.username}/avatar", :current => "active"}
  ], 
  :h1 => [{:title =>"Meu Avatar"}]
%>
<section class="content">
  <div id="avatar" class="row">
    <div class="span6">
      <div style="width:256px;margin:0 auto">
        <a href="#" class="thumbnail"><%= image_gravatar(current_user.email, 256) %></a>
        <br clear="all" />
        <p><%= link_to 'Ver meus links', links_path, :class => "btn btn-mini" %></p>
      </div>
    </div>

    <div class="span5">
      <h3>Observações</h3>
      <p>
        Caso esteja visualizando essa imagem <%= image_gravatar("hash", 20) %> 
        é por que provavelmente você não possui uma conta 
        <%= link_to "gravatar", "http://pt.gravatar.com" %> ou possui e não adicionou uma imagem. 
        Para criar uma conta gravatar clique 
        <%= link_to "aqui", "https://pt.gravatar.com/site/signup" %> 
        e use o mesmo email que você usou para criar sua conta gostozinho.
      </p>
    </div>
  </div>
</section>
