<div class="show-grid">
  <div class="span9">
    <h2>Meus links</h2>
    <div id="links">
      <%= render "links/list", links: @links, type_view: nil %>  
    </div>

    <br clear="all" />
    <%= will_paginate @links %>
  </div>

  <div class="span2">
    <% hash = Digest::MD5.hexdigest current_user.email %>
    <% image_url = "http://1.gravatar.com/avatar/#{hash}?size=150" %>
    <%= image_tag image_url %>
    <h3> @<%= @user.username %> </h3>
    <div id="user_data">
      <p>desde: <%= l @user.created_at, format: :mini_short %></p>
      <!-- @user.url -->
      <p><%= link_to "http://localhost/", "#", target: "_blank" %></p>
      <p>RSS: <%= link_to "público", "#" %> | <%= link_to "privado", "#" %> </p>
      <p>Follow <%= link_to "0 Usuários", "#" %></p>
      <p>Followed by <%= link_to "0 Usuários", "#" %></p>

      <hr />

      <ul id="counters">
        <li><%= link_to "1 baú(s)", "#" %></li>
        <li><%= link_to "#{@user.links.count} link(s)",  %></li>
      </ul>
    </div>

    <hr />

    <div class="user_tags">
      <h4>
        Tags 
        <select class="span1" style="width:100px">
          <option>popular</option>
          <option>alfabetica</option>
        </select>
      </h4>
      <% tags = [
        {label: "test", quantity: 7}, 
        {label: "wfsneto", quantity: 17}, 
        {label: "walmir", quantity: 9}, 
        {label: "neto", quantity: 5}
      ] %>
      <% tags.each do |tag| %>
        <span class="badge badge-info"><%= tag[:label] %>: <%= tag[:quantity] %></span> <br />
      <% end %>
    </div>
  </div>
</div>
