<%= render "shared/masthead", 
  :subnav => [], 
  :h1 => [{:title => "Meus links"}]
%>

<section class="content">
  <div class="row">
    <div id="links" class="grid-row">
      <div class="span10">
        <%= render "links/list", links: @links %>

        <br clear="all" />
        <%= will_paginate @links %>
      </div>

      <div class="span2">
        <a href="#" class="thumbnail" style="width:160px"><%= image_gravatar(@user.email, 160) %></a>
        <h3> @<%= @user.username %> </h3>
        <div id="user_data">
          <p>desde: <%= l @user.created_at, format: :mini_short %></p>
          <p><i class="icon-globe"></i>  <%= link_to @user.url, @user.url, target: "_blank" if @user.url.present? %></p>
          <% if @user.bio.present? %>
            <p><b>Sobre min</b>: <%= @user.bio %></p>
          <% end %>
          <p>RSS: <%= link_to "público", "/u/#{@user.username}.xml" %></p>
          <!--
          <p>Follow <%= link_to "0 Usuários", "#" %></p>
          <p>Followed by <%= link_to "0 Usuários", "#" %></p>
          -->
          <hr />

          <ul id="counters">
            <!-- <li><%= link_to "1 baú(s)", "#" %></li> -->
            <li><%= link_to "#{@user.links.count} link(s)",  %></li>
          </ul>
        </div>

        <hr />

        <div class="user_tags">
          <h4><i class="icon-tags"></i> Tags</h4>
          <br/>
          <% @links.each do |link| %>
            <% link.tags.each do |tag| %>
              <!-- <span class="label label-info"></span> -->
                <%#= link_to tag.name,  %>
              <%= link_to_unless_current tag.name, links_path(:tag => tag.name), :style => "margin:0 3px 3px 0", :class => "btn btn-mini btn-primary" %>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</section>
