<%= form_for @link do |f| %>
  <%= render "shared/flash_messages", resources: @link %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  
  <div class="input">
    <%= f.text_field :title, placeholder: "Título do link", :class => "input-xxlarge bold" %>
  </div>
  
  <div class="input"> 
    <%= f.text_field :url, placeholder: "http://seulink.com.br" %>
  </div>
  
  <div class="input checkbox"> 
    <%= f.check_box :is_public %> <span>link público</span>
  </div>

  <div class="input">
    <%= f.text_field :tag_names, placeholder: "Digite tags separadas por vírgula" %>
  </div>

  <% if @link.tags.present? %>
    <% @link.tags.each do |tag| %>
      <span class="label label-info"><%= tag.name %></span>
    <% end %>
    <br clear="all" /><br clear="all" />
  <% end %>
  
  <div class="input">
    <%= f.text_area :description, placeholder: "Descrição do link", :class => "textarea"  %>
  </div>
  <div class="actions">
    <%= f.submit :disable_with => "Aguarde...", :class => "btn btn-primary btn-large" %>
  </div>
<% end %>
