<%= form_for @link do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="input"> 
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div class="input">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="input">
    <%= f.label :tags %>
    <%= f.text_field :tags %>
  </div>

  <hr />

  <div class="actions">
    <%= f.submit :disable_with => "Aguarde...", :class => "btn btn-primary btn-large" %>
  </div>
<% end %>
