<%= javascript_include_tag "/scripts/modules/links" %>

<%= form_for @link_for_form, :html => { :id => "modal_link", :style => 'margin:0!important' } do |f| %>
  <div id="modal_new_link" class="modal hide fade" style="display: none;">
    <%= f.hidden_field :user_id, value: current_user.id %>
      
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Adicionar link</h3>
    </div>
    <div class="modal-body">
      <div class="input">
        <%= f.label :title, :class => "hide" %>
        <%= f.text_field :title, :placeholder => "Título do link", :class => "input-xxlarge bold" %>
      </div>
      
      <div class="input"> 
        <%= f.label :url, :class => "hide" %>
        <%= f.text_field :url, :placeholder => "http://seulink.com.br" %>
      </div>

      <div class="input checkbox"> 
        <%= f.check_box :is_public %> <span>link público</span>
      </div>
    </div>
    <div class="modal-footer">
      <%= link_to "Cancelar", "#", :"data-dismiss" => "modal" %>
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
