<%= form_for @link do |f| %>
  <%= render "shared/flash_messages", resources: @link %>

  <div class="input">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="input"> 
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div class="input">
    <%= f.label :description %>
    <%= f.text_area :description,  %>
  </div>
  <div class="input">
    <%= f.label :tags %>
    <%= f.text_field :tags %>
  </div>

  <hr />

  <div class="actions">
    <%= f.submit :disable_with => "Aguarde...", :class => "btn btn-primary btn-large" %>
  </div>
<% end %>
