<div class="span9">
  <h1>Meus links</h1>

  <div id="links">
  <% @links.each do |link| %>
    <div class="link">
      <div class=""><%= link.updated_at.strftime "%d.%m.%Y" %></div>
      <h3 class=""><%= link.title %></h3>
      <div class=""><%= link_to link.url, link.url %> <%= link_to "", link.url, :class => "icon-share" %></div>
      <div class=""><%= link.description %></div>
      <div class="">
        <% tags = link.tags.split "," %>
        <% tags.each do |tag| %>
          <span class="label label-info"><%= tag %></span>
        <% end %>
      </div>
      <div class="">
        <br />
        <%= link_to "", edit_link_path(link), :class => "icon-pencil" %>
        <%= link_to "", link, :class => "icon-remove", confirm: "Are you sure?", method: :delete %>
      </div>
    </div>
    <hr />
  <% end %>
  </div>
</div>
<div class="span2">
  <%= image_tag "/images/avatar-128.png" %> 
</div>