<% locale = "activerecord.attributes.link" %>
<p>
  <b><%=t "#{locale}.title" %>:</b>
  <%= @link.title %>
</p>

<p>
  <b><%=t "#{locale}.url" %>:</b>
  <%= @link.url %>
</p>

<p>
  <b><%=t "#{locale}.description" %>:</b>
  <%= @link.description %>
</p>

<p>
  <b><%=t "#{locale}.tags" %>:</b>
  <% tags = @link.tags.split "," %>
  <% tags.each do |tag| %>
    <span class="label label-info"><%= tag %></span>
  <% end %>
</p>

<%= link_to 'Editar este link', edit_link_path(@link), :class => "btn btn-mini" %>
<%= link_to 'Ver últimos links', links_path, :class => "btn btn-mini" %>
