<%= javascript_include_tag "/scripts/modules/users" %>

<%= render "shared/masthead", 
  :subnav => [], 
  :h1 => [{
    :title =>"Autenticação",
    :class =>"center",
    :subtitle =>"Digite seu e-mail e senha para acessar sua conta do Gostozinho"
  }]
%>

<section class="content">
  <div id="div-forms-large" class="width-300">
    <%= form_for(resource, :as => resource_name, :html => { :id => "login" }, :url => session_path(resource_name)) do |f| %>
      <div class="input">
        <%= f.label :email, :class => "hide" %>
        <%= f.email_field :email, :placeholder => "E-mail", :class => "text-field" %>
      </div>
      <div class="input">
        <%= f.label :password, :class => "hide" %>
        <%= f.password_field :password, :placeholder => "Senha", :class => "text-field" %>
      </div>

      <div class="actions">
        <%= f.submit "Acessar contar", :class => "btn btn-large btn-warning" %>
      </div>
    <% end %>

    ou <%= link_to "cadastre-se", new_user_registration_path %> e junte-se ao <%= link_to "@Gostozinho", "/" %>
  </div>
</section>
