<%= javascript_include_tag "/scripts/modules/feedbacks" %>

<%= form_for(@feedback) do |f| %>
  <div class="field">
    <%= f.label :name, :class => "hide" %>
    <%= f.text_field :name, :placeholder => "Digite seu nome" %>
  </div>
  <div class="field">
    <%= f.label :email, :class => "hide" %>
    <%= f.text_field :email, :placeholder => "Digite seu email" %>
  </div>
  <div class="field">
    <%= f.label :message, :class => "hide" %>
    <%= f.text_area :message, :placeholder => "Escreva aqui sua mensagem..." %>
  </div>
  <div class="actions">
    <%= f.submit :value => "Enviar mensagem", :class => "btn btn-warning btn-large" %>
  </div>
<% end %>
