<!DOCTYPE html>
<!-- saved from url=(0057)#buttons -->
<html lang="en">
<head>
  <!-- Le meta tags
  ================================================== -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="gostozinho, gostoz.in, like delicious, bookmarks, favoritos" />
  <meta name="author" content="@wfsneto, @ladobeta" />
  <!-- Le title
  ================================================== -->
  <title>Gostozinho - Seu báu de links</title>

  <!-- Le styles
  ================================================== -->
  <%= stylesheet_link_tag "/stylesheets/bootstrap/bootstrap" %>
  <%= stylesheet_link_tag "/stylesheets/bootstrap/bootstrap-responsive" %>
  <%= stylesheet_link_tag "/stylesheets/bootstrap/docs" %>
  <%= stylesheet_link_tag "/stylesheets/bootstrap/prettify" %>
  <!-- default of site -->
  <%= stylesheet_link_tag "/stylesheets/screen" %>
  <!-- jcheck -->
  <%= stylesheet_link_tag "/stylesheets/jcheck/jcheck" %>
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le javascript
  ================================================== -->
  <!-- scripts default of rails -->
  <%= javascript_include_tag "application" %>
  <!-- bootstrap -->
  <%= javascript_include_tag "/scripts/bootstrap/prettify" %>
  <%= javascript_include_tag "/scripts/bootstrap/bootstrap-transition" %>
  <%= javascript_include_tag "/scripts/bootstrap/bootstrap-alert" %>
  <%= javascript_include_tag "/scripts/bootstrap/bootstrap-modal" %>
  <%= javascript_include_tag "/scripts/bootstrap/bootstrap-dropdown" %>
  <%= javascript_include_tag "/scripts/bootstrap/bootstrap-scrollspy" %>
  <%= javascript_include_tag "/scripts/bootstrap/bootstrap-tab" %>
  <%= javascript_include_tag "/scripts/bootstrap/bootstrap-tooltip" %>
  <%= javascript_include_tag "/scripts/bootstrap/bootstrap-popover" %>
  <%= javascript_include_tag "/scripts/bootstrap/bootstrap-button" %>
  <%= javascript_include_tag "/scripts/bootstrap/bootstrap-collapse" %>
  <%= javascript_include_tag "/scripts/bootstrap/bootstrap-carousel" %>
  <%= javascript_include_tag "/scripts/bootstrap/bootstrap-typeahead" %>
  <%= javascript_include_tag "/scripts/bootstrap/application" %>
  <!-- jcheck -->
  <%= javascript_include_tag "/scripts/jcheck/jcheck-0.7.1.min" %>
  <%= javascript_include_tag "/scripts/jcheck/jcheck.pt-br" %>

  <!-- Le fav and touch icons
  ================================================== -->
  <%= favicon_link_tag "/images/gostozin.ico", :rel => "shortcut icon" %>
  <%= favicon_link_tag "/images/gostozin-128.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144" %>
  <%= favicon_link_tag "/images/gostozin-128.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144" %>
  <%= favicon_link_tag "/images/gostozin-64.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72" %>
  <%= favicon_link_tag "/images/gostozin-64.png", :rel => "apple-touch-icon-precomposed" %>
</head>

<body>
  <%= render "shared/navbar" %>

  <div class="container">
    <%= render "shared/flash_notice" %>

    <%= yield %>

    <%= render "shared/footer" %>
  </div><!-- /container -->

</body>
</html>
