<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Le meta tags
  ================================================== -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="gostozinho, gostoz.in, like delicious, bookmarks, favoritos" />
  <meta name="author" content="@wfsneto, @ladobeta" />

  <!-- Le styles
  ================================================== -->
  <!-- bootstrap -->
  <%= stylesheet_link_tag "/stylesheets/bootstrap/bootstrap.min" %>
  <!-- default of site -->
  <%= stylesheet_link_tag "/stylesheets/screen" %>
  <!-- jcheck -->
  <%= stylesheet_link_tag "/stylesheets/jcheck/jcheck" %>
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements
  ================================================== -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
    
  <!-- Le javascript
  ================================================== -->
  <!-- jquery -->
  <%= javascript_include_tag "/scripts/jquery/jquery.min" %>
  <!-- bootstrap -->
  <%= javascript_include_tag "/scripts/bootstrap/bootstrap.min" %>
  <%= javascript_include_tag "/scripts/bootstrap/prompt.modal" %>
  <!-- jcheck -->
  <%= javascript_include_tag "/scripts/jcheck/jcheck-0.7.1.min" %>
  <%= javascript_include_tag "/scripts/jcheck/jcheck.pt-br" %>
  
  <!-- Le fav and touch icons
  ================================================== -->
  <%= favicon_link_tag "/images/gostozin.ico", :rel => "shortcut icon" %>

  <!-- Le title
  ================================================== -->
  <title>Gostoz.in</title>
</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="/">Gostoz.in</a>
        <div class="nav-collapse">
          <ul class="nav pull-right">
            <li id="avatar"><%= image_tag "/images/avatar.png" %></li>
            <li class="active dropdown" id="nav-profile">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#nav-profile">
                Perfil <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Meus Links", links_path %></li>
                <li><a href="#" data-target="#usersPasswordModal" data-toggle="modal">Alterar senha</a></li>
                <li class="divider"></li>
                <li><%= link_to "Sair", "#logout" %></li>
              </ul>
            </li>
            <li><%= link_to "Adicionar link", new_link_path %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container" id="container">
    <div class="row">
      <div class="span12">
        <%= yield %> 
      </div>  
      <div class="clearfix"></div>
    </div><!--/row-->     
  </div> <!-- /container -->
  
  <hr />
  
  <footer class="row">
    <div class="span4 centered">
      <p>@gostoz.in | Seu báu de links</p>
      <div class="clearfix"></div>
    </div>
  </footer>

  <%= render 'shared/edit_user' %> 
</body>
</html>